.table-container {
    width: 70%;
    margin: 0 auto;
}

.title {
    margin-top: 50px;
}

.table-container > .table-basic {
    margin-top: 50px;
}

fieldset {
    margin-top: 30px;
    border: 0px;
}

.page-button {
	color : #4ebaaa;
}

a:hover {
	color : #4ebaaa;
}