<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.spring.s1.member.MemberDAO">
	<insert id="addFile" parameterType="MemberFileDTO">
		INSERT INTO MEMBERFILE(FILENUM, ID, FILENAME, ORINAME)
		VALUES(FILE_SEQ.nextval, #{id}, #{fileName}, #{oriName})
	</insert>
	
	<select id="mypage" parameterType="MemberDTO" resultMap="mypageResult">
		SELECT id, M.name, M.phone, M.email, MF.fileNum, MF.fileName, MF.oriname
		FROM MEMBER M
			LEFT JOIN MEMBERFILE MF
			USING(id)
		WHERE id = #{id}
	</select>
	
	<resultMap type="MemberDTO" id="mypageResult">
		<id column="id" property="id"/>		<!-- PK -->
		<result column="name" property="name"/>		<!-- PK를 제외한 나머지 -->
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<association property="memberFileDTO" javaType="com.spring.s1.member.MemberFileDTO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association> <!-- 1:1 관계 -->
	</resultMap>
	
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT id, name 
		FROM member 
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	
	<insert id="join" parameterType="MemberDTO">
		INSERT INTO MEMBER (id, pw, name, phone, email)
		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email})
	</insert>
	
</mapper>