<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.spring.s1.notice.NoticeDAO">
	<select id="detail" resultType="com.spring.s1.notice.NoticeDTO">
		SELECT * FROM NOTICE WHERE NOTICENUM = #{noticeNum}
	</select>

	<select id="list" resultType="com.spring.s1.notice.NoticeDTO">
		SELECT * FROM NOTICE
	</select>
	
	<insert id="add" parameterType="com.spring.s1.notice.NoticeDTO">
		INSERT INTO NOTICE
		VALUES(NOTICE_SEQ.NEXTVAL, #{noticeTitle}, #{noticeContents}, #{noticeWriter}, SYSDATE, 0)
	</insert>
	
	<delete id="delete" parameterType="com.spring.s1.notice.NoticeDTO">
		DELETE NOTICE WHERE NOTICENUM = #{noticeNum}
	</delete>
</mapper>